<!DOCTYPE html>
<html>

<head>
    <title>hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        body{
            font-family: sans-serif;
        }
        .box{
            display: flex;
        }
        .divs{
            width: 40vw;
            height: 40vw;
            border-radius: 10px;
            background-color: pink;
            text-align: center;

        }
        a{
            color: white;
            text-decoration: none;
            font-size: 8rem;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div style="height: 50vh;"> </div>
    <center><h1>포인터 기능이 실행되었습니다.</h1></center>
    <center><h1>PPT 슬라이드를 실행해주세요.</h1></center>
    <div class="box">
        <a href="/left">
        <div class="divs">
            <p>Left</p>
        </div>
        </a>
        <a href="/right">
        <div class="divs">
            <p>Right</p>
        </div>
        </a>
    </div>
</body>

</html>